<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
   
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap" rel="stylesheet">
        <script src="" async defer></script>
 



<!-- Path: views\about.ejs -->

<body>
    <a href="/form" class="GoBack"> Click Here to Go Back</a>
<div class="details">
    
    <div class="car">
        <% Data.forEach(function(item) { %>
            <h1><%= item.name %></h1>
            
            <img src="/images/<%= item.img %>.jpg" alt="Image not Found" class = "Picture">

            
            <p>Fuel Type : <%= item.type %></p>
            <p>Exshowroom Price : <%= item.exshowroom %> INR</p>
            <p>Approximate Mileage : <%= item.mileage %> km/L</p>
            <p>Transmission Type : <%= item.transmission %></p>
            <p>Engine Displacement : <%= item.engine %> cc</p>
            <p class = "descr"><%= item.descr %></p>
        <% }); %>

    </div>
    
</div>
</body>
</html>